body {
    background-color: #7ebd9e;
    font-family: 'Arial', sans-serif; /* Cambiar la fuente del texto */
}

/* Estilos generales para los div */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* Primer div a la izquierda */
.container > div:first-child {
    flex: 1;
    background-color: #d2a159;
    border-radius: 10px;
    padding: 20px; /* Ajusta el tamaño vertical */
}

/* Segundo div a la derecha */
.container > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

/* Estilos adicionales para los div internos si es necesario */
.container > div > div {
    background-color: #d2a159;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}

/* Estilos para los botones */
button {
    background-color: #4c7a68; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 15px; /* Ajusta el espaciado interno del botón */
    border-radius: 5px; /* Redondear esquinas del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos específicos para cada tipo de botón */
.container > div:first-child button {
    background-color: #944d1f; /* Cambia el color del botón INVITADO */
}

.container > div:last-child div:nth-child(1) button {
    background-color: #944d1f; /* Cambia el color del botón ADMIN */
}

.container > div:last-child div:nth-child(2) button {
    background-color: #944d1f; /* Cambia el color del botón COMERCIO */
}

.container > div:last-child div:nth-child(3) button {
    background-color: #944d1f; /* Cambia el color del botón USUARIO */
}