body {
    background-color: #ffffff;
}

/* Estilos generales para los div */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* Primer div a la izquierda */
.container > div:first-child {
    flex: 1; /* Ocupa todo el espacio disponible */
    background-color: #d2a159;
    border: 1px solid #ccc; /* Borde */
    border-radius: 10px; /* Redondear esquinas */
    padding: 255px; /* Ajusta el tamaño vertical */
    
}

/* Segundo div a la derecha */
.container > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los divs internos */
    width: 50%; /* Ancho de los divs internos */
    border-radius: 10px; /* Redondear esquinas */
    padding: 20px; /* Ajusta el tamaño vertical */
}

/* Estilos adicionales para los div internos si es necesario */
.container > div > div {
    /* Estilos para los div internos */
    border: 1px solid #ccc;
    background-color: #d2a159;
    padding: 20px; /* Ajusta el tamaño vertical */
    flex: 1; /* Ocupa todo el espacio disponible verticalmente */
    border-radius: 8px; /* Redondear esquinas */
}