body {
  background-color: #7ebd9e;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; /* Cambiado para apilar los elementos en pantallas más pequeñas */
  justify-content: space-between;
  margin-top: 50px;
}

.inivtado_inicio,
.container-3,
.admin_inicio,
.comercio_inicio,
.usuairo_inicio {
  width: 100%; /* Hacer que los contenedores ocupen el 100% del ancho en pantallas más pequeñas */
  margin-bottom: 20px; /* Espaciado entre contenedores */
}

/* Primer div a la izquierda */
.inivtado_inicio {
    flex: 1;
    background-color: #d2a159;
    border-radius: 10px;
    padding: 20px;
}

/* Segundo div a la derecha */
.container-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

.admin_inicio {
    background-color: #d2a159;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-inicio {
    flex: 1;
    text-align: left;
}

.texto-inicio h2,
.texto-inicio p {
    margin: 0;
}

.boton-inicio button {
    background-color: #944d1f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilos adicionales para los div internos si es necesario */
.inivtado_inicio {
    background-color: #d2a159;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  }
  
  .img-cro {
    flex: 1; /* Hace que los elementos dentro de img-cro ocupen el mismo espacio */
    margin-right: 20px; /* Espacio entre la imagen y el siguiente div */
  }
  
  .img-cro img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    border-radius: 8px; /* Borde redondeado para la imagen si es necesario */
  }
  
  .boton-entrar-inv {
    text-align: right; /* Alinea el botón a la derecha */
  }
  
  .boton-entrar-inv button {
    padding: 12px; /* Aumenta el espacio interno del botón */
    background-color: #996f40;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .boton-entrar-inv button:hover {
    background-color: #996f40;
  }
  
  /* Estilos adicionales para el segundo div (img-cro con texto) */
  .img-cro h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .img-cro p {
    font-size: 14px;
  }

.comercio_inicio,
.usuairo_inicio {
    background-color: #d2a159;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}

/* Estilos para los botones */
button {
    background-color: #944d1f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos específicos para cada tipo de botón */
.inivtado_inicio button {
    background-color: #944d1f;
}
.inivtado_inicio button:hover {
  background-color: #996f40;
}
.admin_inicio button {
    background-color: #944d1f;
}
.admin_inicio button:hover {
  background-color: #996f40;
}
.comercio_inicio button {
    background-color: #944d1f;
}
.comercio_inicio button:hover {
  background-color: #996f40;
}
.usuairo_inicio button {
    background-color: #944d1f;
}
.usuairo_inicio button:hover {
  background-color: #996f40;
}
@media (min-width: 768px) {
  .container {
      flex-direction: row; /* Vuelve a la disposición original en pantallas más grandes */
  }

  .inivtado_inicio,
  .container-3 {
      width: 48%; /* Ajusta el ancho de los contenedores en pantallas más grandes */
  }
}