.div-caja {
    text-align: center;
    background-color: #3e7157;
    height: 20vh;
    width: 35%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 0;
    border: 2px solid #000;
}
.nombre-actividad{
    display: flex;
    justify-content: center; 
}

.elementos-importantes {
    display: flex;
    justify-content: space-between;
}

.tipo-de-actividad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8cdd8f;
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px; 
}
.continuar-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #75c7e0;
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px; 
}

.informacion-extra {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

.informacion-extra p {
    margin: 0 10px; 
}
@media only screen and (max-width: 480px) {
    .div-caja {
        width: 80%; 
    }

    .elementos-importantes,
    .informacion-extra {
        flex-direction: column; 
        align-items: center; 
    }
}