.container-menu {
    text-align: center;
    background-color: #d2a159;
    height: 45vh;
    width: 50%;
    margin: 45px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0; 
    border: 2px solid #000; 
}

.titulo-menu,
.container-de-select,
.boton-buscar-usur {
    width: 100%;
    flex-grow: 1; 
    margin-bottom: 20px;
}

.container-de-select {
    display: flex;
    justify-content: space-between; 
    gap: 10px;
    width: 40%;
    height: 5px; 
}

.container-de-select > div {
    border: 1px solid #000;
    background-color: #a67f45;
    border-radius: 5px;
}

.select {
    width: 48px; 
    height: 10px;
    border-radius: 0; 
}

.boton-menu-user {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .container-de-select {
        width: 60%; 
    }
}

@media only screen and (max-width: 480px) {
    .container-menu {
        width: 80%; 
    }

    .container-de-select {
        width: 100%; 
    }
}