.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 30px;
  }
  
  .caja {
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    background-color: #d2a159;
    width: 60%;
  }
  
  .titulo-menu {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 480px) {
    .caja {
      width: 100%;
      box-sizing: border-box;
    }
  }