.container-de-select,
.boton-buscar-usur {
    width: 100%;
    flex-grow: 1; 
    margin-bottom: 20px;
}

.container-de-select {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    width: 40%;
    height: 5px;
}

.boton-menu-user {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}