
.container-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

.titulo {
    margin-bottom: 20px;
    background-color: #e8cca3;
    border: 1px solid #000000;
}

.col {
    display: flex;
    background-color: #d2a159;
    border: 1px solid #000000;
}

.col > div {
    flex: 1;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.estrellas-p {
    margin-top: 5px; 
    background-color: #e8cca3;
    border: 1px solid #000000;
    padding: 8px 15px; 
    border-radius: 8px; 
}